<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- the name of the csv-file can also be given as a command line input: -->
    <add key="CsvFile" value=""/>
    <add key="DaOpcServerURI" value="localhost/Statoil.OPC.Server"/>
    <add key="SampleTime_ms" value="1000"/>
    <add key="CsvSeparator" value=";"/>
    <!-- see valid formats at: https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings-->
    <add key="TimeStringFormat" value="yyyy-MM-dd HH:mm:ss"/>
    <!-- if "1" then one line is outputted on screen for each time step, to disable set "0" -->
    <add key="BeVerbose" value="1"/>
    <!-- stopwatch-based "sleep" between each write tends to make writing about 10% too slow if running faster than 1Hz, this factor can counteract this timing offset -->
    <add key="TimeToSubtractFromEachWait_ms" value="5"/>
    

  </appSettings >
 
  
</configuration>